[submodule "submodules/Colors"]
	path = submodules/Colors
	url = https://github.com/knightburton/Colors.git
[submodule "submodules/SpaceBubbles"]
	path = submodules/SpaceBubbles
	url = https://github.com/knightburton/SpaceBubbles.git
[submodule "submodules/Debugger"]
	path = submodules/Debugger
	url = https://github.com/knightburton/debugger-IDE.git
