@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Montserrat';
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.icon-color-linkedin {
  color: #0084bf;
}

.icon-color-facebook {
  color: #3b5998;
}

.icon-color-twitter {
  color: #1da1f2;
}

.icon-color-instagram svg * {
  fill: url(#svg-instagram);
}

.icon-color-twitch {
  color: #6441A4;
}

.icon-color-github {
  color: #24292e;
}

.icon-color-bitbucket {
  color: #0747A6;
}

.cursor-pointer {
  cursor: pointer;
}

.header-icon {
  &::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 5rem;
    height: 1px;
    top: 1.75rem;
    left: calc(100% / 2 - 8rem);
    background-color: #000;
  }

  &::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 5rem;
    height: 1px;
    top: 1.75rem;
    left: calc(100% / 2 + 3rem);
    background-color: #000;
  }
}

.mobile {
  @media (max-width: 767.98px) {
    &-text-center {
      text-align: center !important;
    }

     &-img-margin {
      margin-right: 4rem;
      margin-left: 4rem;
    }
  }
}
